<div class="question-card d-flex align-items-center justify-content-center">
    <div class="q-card">
        <h3 class="f-main text-center mb-5">Pregunta {{questions[num]["id"]}}</h3>
        <p class="question_quote text-center mb-5 f-main-dark">{{questions[num]["question"]}}</p>
        <div class="pointers text-center">
            <button class="btn" *ngFor="let point of points"
                [ngClass]="{'selected': pxq[num]!=null && pxq[num]['grade']==point, 'unSelected':pxq[num]!=null && pxq[num]['grade']!=point, 'bg-second': num%2==0, 'bg-main': num%2!=0 }"
                (click)="selectPoint(point,num)">
                {{point}}
            </button>
        </div>
    </div>
</div>
<div class="p-4">
    <app-operational-buttons [num]="num"></app-operational-buttons>
</div>