@import '../../../assets/scss/theme';

.btn {
    transition: opacity 0.3s;

    &.hidden {
        opacity: 0;
    }

    &.focus {
        position: relative;
        border: 1px solid $main;
        color: $main;
        font-weight: 600;
    }
}
