<section class="container-fluid main p-0 pt-4 ">
  <div class="container">
    <h1 class="mb-5 dancing bold">{{title}}</h1>
    <div class="chart mx-auto mb-5">
      <div class="panel">
        <div class="panel__item questions p-4 position-relative" [ngClass]="{active: question}">
          <app-question-card></app-question-card>
        </div>
        <div class="panel__item results" [ngClass]="{active: !question}">
          <app-answer-card></app-answer-card>
        </div>
      </div>
    </div>
    

  </div>
  <app-footer></app-footer>
</section>